body{
    margin: 0;
    font-family: Okra, Helvetica, sans-serif;
}
.header{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    width: 100%;
    height: 436px;
}
.nav{
    margin-left: 680px;
    margin-top: -20px;
    margin-right: 100px;
}
.nav-item{
    color: rgb(241, 241, 241);
    font-size: 18px;
    padding-left: 39px; 
    font-weight: 250;  
    float: left;
    text-decoration: none;
    margin-top: 20px;
}
.bar{
    height: 54px;
    width: 770px;
    border-radius: 7px;
    background: white;
    margin-top: 273px;
    margin-left: 290px;
}
.arrow{
    background: white;
    border: 0;
}
.box{
    border: 0;
}
.box-item1{
    font-size: 15px;
    border: 0;
    margin-top: 16px;
    margin-left: 30px;
}
.box-item2{
    font-size: 15px;
    width: 260px;
    margin-left: 50px;
    border: 0;
}
.img{
    margin-top: -220px;
    margin-left: 535px;
}
.logo{
    margin-left: 0px;
    width: 250px;
}
.heading{
    margin-top: -00px;
}
.sub-heading{
    color: white;
    font-size: 35px;
    margin-left: 350px;
}
.section-1box{
    margin-top: 40px;
    height: auto;
    width: 535px;
    border-radius:15px;
    border: solid 1px rgb(238, 237, 237);
    margin-left: 130px;
    background-image: url(1.jpg);
    background-size:535px 210px;
    background-position: 0% -60%;;
    background-repeat: no-repeat;
}
.order{
    color: rgb(92, 92, 92);
    margin-left: 10px; 
}
#orderr{
    text-decoration: none;
    color: rgb(92, 92, 92);
}
.stay{
    color: rgb(92, 92, 92);
    margin-left: 10px;
}
.order{
    font-size: 20px;
    padding-top: 180px;
    color:rgb(88, 85, 85);
}
.section-2-head{
    font-size: 35px;
    color: rgb(88, 85, 85);
    margin-left: 130px;
}
.place{
    margin-left: 85px;
}
.places{
    height: 60px;
    width: 320px;
    border-radius: 10px;
    border: .5px solid rgb(221, 221, 221);
    float: left;
    margin-left: 50px;
    padding-left: 15px;
    padding-top: 15px;
    color: rgb(66, 66, 66); 
    line-height: 25px;  
    background-color: white;
}
.section-3{
    height: 480px;
    background: rgb(255, 255, 255);
    margin-top: 450px;
    margin-left: 530px;
}
.section-3-head{
    font-size: 50px;
    padding-top: 50px;
    font-weight: 500;
    padding-left: 70px;
    color: rgb(37, 37, 37);
}
.section-3-img1{
    margin-top: -200px;
    height: 270px;
    margin-left: -218px;
    width: 230px;
}
.section-3-img2{
    height: 45px;
    padding-left: 55px;

}
.section-3-img3{
    height: 45px;
    margin-left: 20px;
}
.section-3-sub-head{
    margin-left: 70px;
    color: rgb(54, 54, 54);
    line-height: 30px;
}
.btn{
    margin-left: 70px;
    background: rgb(239, 79, 95);
    border: 0;
    color: white;
    width: 150px;
    border-radius: 7px;
    margin-left: 5px;
}
.email{
    margin-left: 70px;
    width: 300px;
    height: 40px;
    border:solid gray 1px;
    border-radius: 7px;
    padding-left: 20px;
}
.section-4{
    height: 410px;
    background: white;
    margin-left: 130px;;
    margin-right: 130px;
}
.section-4-head{
    font-size: 35px;
    font-weight: 500;
    color: rgb(54, 54, 54);
}
.section-4-input{
    height: 70px;
    margin-bottom: 20px;
    border: .5px solid rgb(221, 221, 221);
    border-radius: 7px;
}
.section-4-input-items{
    border: 0;
    font-size: 20px;
    margin: 23px;
    color: rgb(0, 0, 0);
    border-radius: 9px;
}
.select{
    border: 0;
    background: white;
    margin-left: 700px;
}
footer{
    background:#F8F8F8;
    padding-left: 130px;
    padding-right: 130px;
}
.footer-img{
    height: 27px;
    width: 133px;
    margin-top: 40px;
    float: left;  
}
.fc{
    padding-top: 100px;
}
.fc1{
    font-size: 12px;
    font-weight: 400;
    float: left;
    text-decoration: none;
}
.fc2{
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-left: 90px;
}
.fc3{
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-left: 90px;
}
.fc4{
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-left: 90px;
}
.fc5{
    font-size: 12px;
    font-weight: 400;
    float: left;
    margin-left: 90px;
}
.fc-head{
    font-size: 15px;
}
.items{
    font-size: 15px;
    text-decoration: none;
    color:rgb(105, 105, 105);
}
hr {
    margin-top: 250px;
    width: 100%;
}
.fdata{
    color:rgb(105, 105, 105);
    line-height: 20px;
    font-size: 13px;
}
.fimg{
    margin-left: -35px;
}

.h:hover{
    color: rgb(31, 31, 31);
}
.fh:hover{
    color: rgb(61, 61, 61);
}
.zoom:hover{
    transform: scale(1.1);
}

.btn-hvr:hover{
    background-color:rgb(255, 45, 66);
}